<!DOCTYPE html>
<html lang="ko"></html>
<head>
    <title>pagetitle</title>
    <!-- 페이지마다 조각1, 감각 뭐 이런식으로 이름이 붙어서 함수로 들어갈 예정
    pug(내가 html 대신 쓰는 비스무리한 놈)로는 함수를 쓰는 법을 아는데 html으로는 몰라서 걍 대강 보기만 하라고 이케해놓음-->
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="style.css"
<body>
    <header>
        <h3>pagetitle</h3>
    </header>
    <main>
        <center>
            <img src="https://re-mm-assets.s3.amazonaws.com/product_photo/46489/large_large_Poly_Lilac_7445up_1471509913.jpg">
            <div class="audio">
                <p>title</p>
                <audio
                controls
                duration="false"
                src="https://media.w3.org/2010/05/sintel/trailer.mp4">
                    Your browser does not support the <code>audio</code> element.
                </audio>
            </div>
        </center>
        
            
        
    </main>
        <div style="margin-bottom: 300px;">
            <button type="button">뒤로</button>
            <a>   -----------------------------------------------------------------------------------------------------------   </a>
            <!-- css만들기 구찮아서 대강 요래해놓음 똑바로만들테니까 걱정ㄴㄴ -->
            <button type="button">다음</button>            
        </div>
    <footer>
        copyright Teamname-idk
    </footer>
</body>
</head>