extends base

block content 
    center
        img(src="/uploads/images/8c6e1715fa2fa3e6536b7afb24b1790c" width="80%" class="mainimage")
        div(class="loginbutton" onclick="location.href='/login'") 로그인