extends base

block content 
    center
        img(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/images/4b2b4471c906790721515f30103fe9cf" width="80%" class="mainimage")
        div(class="loginbutton" onclick="location.href='/login'") 로그인