extends base

block content 
    center
        h3 안내사항 
        div(class="instructionbox")
            //- p 발걸음 산책을 시작하며. 
                //- br 산책을 온전히 즐기기 위해 휴대폰을 '방해금지모드'로 설정해주세요. 
                //- br 나레이션을 따라 페이지를 넘기고 재생버튼을 눌러주세요. 
                //- br 와이파이를 잠시 끄고 데이터를 사용한다면 조금 더 산책을 온전히 즐길 수 있을 거에요. 
                //- br 자유롭게 걸어주세요.
                //- br 어디로 가야할지 막막하다면 지도를 봐 주세요.
                //- br 당신과 함께 걷는 목소리가 질문을 한다면 화면에 있는 버튼을 누르거나, 부탁하는 것을 해 주시면 됩니다.
                //- br 당신의 선택은 당신의 경험을 특별하게 만들어 줄 거예요.
                //- br 70분 후에 이 곳에서 다시 만나요.
                //- br 목소리를 듣다 보면 언제 돌아와야 할 지 알 수 있을 거에요.
                //- br 궁금한 것이 있다면 자유롭게 질문해주세요.

        div(class="changebutton" onclick="location.href='/page/intro1'") 산책 시작
