extends media/mediabase

block content 
    center
        audio(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/mp3audio/intro2.mp3", controls, class="media")
        div(class="changebutton" onclick="location.href='/page/media/1'") 주파수 변경