extends media/mediabase

block content 
    center
        audio(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/audios/d163d4005c57039703cbb224f389f7df", controls, class="media")
        div(class="changebutton" onclick="location.href='/page/media/1'") 주파수 변경