extends media/mediabase

block content 
    center
        audio(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/intro1.mp3", controls, type="audio/mpeg", class="media")
        div(class="changebutton" onclick="location.href='/page/intro2'") 주파수 변경

        //- https://danchoo.s3.ap-northeast-2.amazonaws.com/audios/c2752bf77a7bcf93bf99d19cd40250bc