extends base

block content
    center
        h3 Login

        form(method="POST" class="loginform")
            input(name="username", placeholder="이름", required, type="text")
            input(name="phoneNum", placeholder="코드", required, type="text")
            input(type="submit", value="Login")
        if errorMessage
            span=errorMessage

