extends ../base

block content
    form(method="POST", enctype="multipart/form-data")
        label(for="imgs") Upload Files
        input(type="file", id="imgs")
        input(name="title", placeholder="Title", required, type="text")
        input(type="submit", value="submit")