extends ../base 

block content
    center
        div(class="topmargin")
        div(class="margin1")
            a(href='/page/media/2-1')
                img(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/images/6f2105cd259176d4af40aa59a75b810e" class="buttonimage")
        div(class="margin1")
            a(href='/page/media/2-2')
                img(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/images/7d2a139d2c9ea9e93492ef17c6b0948d" class="buttonimage")
        div(class="margin1")
            a(href='/page/media/2-3')
                img(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/images/cc9b4cfaf36d6c1176ecc6878259a0ff" class="buttonimage")
        div(class="margin1")
            a(href='/page/media/2-4')
                img(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/images/3eb1e98efb42c467ad74079eda5f349b" class="buttonimage")