extends ../base 

block content
    center
        div(class="topmargin")
        div(class="selectbutton" onclick="location.href='/page/media/5-1'") 1
        div(class="selectbutton" onclick="location.href='/page/media/5-2'") 2
        div(class="selectbutton" onclick="location.href='/page/media/5-3'") 3
        div(class="selectbutton" onclick="location.href='/page/media/5-4'") 4