extends base 

block content
    center
        div(class="selectbutton")
            a(href="/page/media/3-1") 그의 결혼식
        div(class="selectbutton")
            a(href="/page/media/3-2") 무릎 슬(膝)
        div(class="selectbutton")
            a(href="/page/media/3-3") 건축학개론
        div(class="selectbutton")
            a(href="/page/media/3-4") 무승 4패