extends ../base 

block content
    center
        div(class="topmargin")
        div(class="margin1")
            a(href='/page/media/2-1')
                img(src="/uploads/images/46e35484433860c8eef42cbf33451bd5" class="buttonimage")
        div(class="margin1")
            a(href='/page/media/2-2')
                img(src="/uploads/images/c9ece76f18efa12b1a801e5232594296" class="buttonimage")
        div(class="margin1")
            a(href='/page/media/2-3')
                img(src="/uploads/images/66550bca32e043751f3af8490b8e0895" class="buttonimage")
        div(class="margin1")
            a(href='/page/media/2-4')
                img(src="/uploads/images/5a47a589a9a2c46c49b4c094873e343a" class="buttonimage")