doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="/style/style.css")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    body
        main
            center
                img(src="/uploads/images/8c6e1715fa2fa3e6536b7afb24b1790c" width="80%" class="mainimage")
                block content
    include ../partials/footer.pug
