doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="../../style/style.css")
    body
        main
            center
                img(src="/uploads/images/8c6e1715fa2fa3e6536b7afb24b1790c" width="80%" class="mainimage")
                block content
    include ../partials/footer.pug