extends mediabase

block content
    audio(src= `${mediaFile[0].fileUrl}`, autoplay, controls, class="media")
    div(class="nextbutton" align="right")
        a(href=`/page/${mediaFile[0].nextone}`,)
            img(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/images/5307aa61fce7006cb23cbb220f4fe9de" width="100%")
        