doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="/style/style.css")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    body
        main
            center
                img(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/images/4b2b4471c906790721515f30103fe9cf" width="80%" class="mainimage")
                block content
    include ../partials/footer.pug
