extends mediabase

block content
    audio(src= `/${mediaFile[0].fileUrl}`, autoplay, controls, class="media")
    div(class="nextbutton" align="right")
        a(href=`/page/${mediaFile[0].nextone}`,)
            img(src="/uploads/images/165acd41b83dda54baacf5445c4838ae" width="100%")
        