extends mediabase

block content
    if errorMessage
        p errorMessage
    form(method="POST", enctype="multipart/form-data" class="userimageform")
        label(for="userimages") Upload Files
        input(type="file", id="userimages" name="userimages")
        input(type="submit")
    div(class="nextbutton")
        a(href='/page/media/4',)
            img(src="https://danchoo.s3.ap-northeast-2.amazonaws.com/images/5307aa61fce7006cb23cbb220f4fe9de" width="100%")